<div class="container-fluid page">
  <div class="header">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-8 dash"> <i class="bi bi-speedometer2"></i>&nbsp;Change Password</div>
      <div class="col-md-4 comdtl">
        <span class="comname">{{organisationName}} <br></span>
        <hr>
        <i class="bi bi-envelope-fill"></i>&nbsp; Email : {{organisationEmail}} <br>
        <i class="bi bi-telephone-fill"></i>&nbsp; Contact Number : {{organisationContact}}<br>
        <i class="bi bi-geo-alt-fill"></i>&nbsp; Address : {{organisationAddress}}, Pin - {{organisationPin}}
      </div>
    </div>
  </div>

  <div class="card text-center" style="color:black ;">
    <div class="card-header">
      <div *ngIf="!comfirmPasswordBoolean">
        <mat-error class="text-center">
          Confirm Password Mismatch
        </mat-error>
      </div>
      <div *ngIf="comfirmPasswordBoolean">
        
        <p style="color: green; "> <b>Password is Mismatch </b></p>
       
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="changePasswordFormGroup">
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control pass-custom" formControlName="password" type="password"
              placeholder="New Password" />
            <div
              *ngIf="changePasswordFormGroup.controls['password'].errors && changePasswordFormGroup.controls['password'].touched">
              <mat-error class="text-right" *ngIf="changePasswordFormGroup.controls['password'].errors['required']">
                User Password is
                required</mat-error>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control pass-custom" formControlName="confirm_password" type="password"
              placeholder="Confirm Password"  (blur)='onBlur($event)'/>

          </div>
          <div class="row p-2 card-footer text-muted">
            <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-success" (click)="onClear();"><i
              class="bi bi-save"></i>&nbsp;Clear</button>
            &nbsp; &nbsp;
           
            <button
            *ngIf="(this.changePasswordFormGroup.valid) && (comfirmPasswordBoolean) && (!isBtnVisible) "
            type="button" class="btn btn-info" (click)="onUpdatePassword();"><i class="bi bi-save"></i>&nbsp;
            Change Password</button></div>
          </div>
        </div>
      </form>
     
    </div>
    <!-- <pre style="background-color:yellow ; color: black;">
      userRegisterData = {{this.changePasswordData | json}}
    </pre> -->
  </div>
</div>