body
{overflow-x: hidden;}
.page{
  color: white;
  padding: 0 0rem;
  background: #f1f5f9;
}
// Styling
.header{
    background-color: #383838;
    padding: 0em 0em;
    font-size: 2em;
    margin: 0;
  }
  .comdtl{
    font-size: .5em;
  }
  .comname{
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: .1em;
    color: #7CF4FF;
  }