/* .mat-nav-list{
    width: 150px;
} */
.logo{
  text-align: center;
  img{
    width: 120px;
  }
}
h2{
  background-color: rgb(238, 230, 115); 
  color: rgb(202, 90, 10) !important; 
  border-radius: 20px; 
  font-weight: bolder !important;
}
.mat-icon{
  vertical-align: center;
  margin: 1rem;
}

.mat-divider{
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item{
  color:rgb(248, 246, 246) !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  ::ng-deep{
    .mat-list-item-content{
      border-radius: 5px;
      margin: 0 8px;
      &:hover{
        background: black !important;
      }
    }
  }
}

.list-item-active{
  color: #f2f5f7 !important;
  ::ng-deep{
    .mat-list-item-content{
      background: #2b60db !important;
      &:hover{
        background: #2c61db !important;
      }
    }
  }
}

.mat-subheader{
  color: #818cf8;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 1px;
}
